* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background: #faf9fc;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clear {
    clear: both;
}

div.sidebar {
    width: 300px;
    background: #203035;
    height: 100%;
    max-width: 300px;
    float: left;
}

div.topo {
    background: #26282d;
    text-align: center;
    padding: 20px 10px;
}

div.topo h3 {
    color: white;
}

div.menu {
    padding: 30px;
}

div.menu ul {
    list-style-type: none;
}

div.menu li {
    font-size: 18px;
    color: #717171;
    margin-bottom: 20px;
}

div.menu ul li a {
    font-size: 18px;
    color: #717171;
    text-decoration: none;
}

div.menu li:hover i {
    transition: 0.6s;
    color: #6d3bb8;
}

div.menu li:hover a {
    transition: 0.6s;
    color:white;
}

/*
    FIM DA SIDEBAR
*/

div.main-content {
    float: left;
    width: calc(100% - 300px);
    height: 100%;
}

header {
    height: 90px;
    background: white;
    padding: 20px 15px;
    border-bottom: 2px solid #ccc;
}

.pesquisa {
    float: right;
}

.pesquisa form {
    display: inline-block;
}

.icone-pesquisa {
    background: #d6d6d6;
    width: 30px;
    height: 30px;
    position: relative;
    top: -1px;
    text-align: center;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.icone-pesquisa i {
    position: relative;
    top: 5px;
}

.pesquisa input[type=text] {
    width: 200px;
    height: 30px;
    border-left: 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
}

.pesquisa input[type=text]:focus {
    outline: 0;
}

.icone-alerta {
    cursor: pointer;
    background: #fbedef;
    width: 30px;
    height: 30px;
    margin-right: 28px;
    float:right;
    text-align: center;
    position: relative;
}

.icone-alerta p {
    position: absolute;
    left: -8px;
    top: -8px;
    display: inline-block;
    background: #ed7387;
    color: white;
    padding: 3px;
    font-size: 12px;
}

.icone-alerta i {
    line-height: 30px;
    font-size: 18px;
    color: #ed7387;
    font-weight: bold;
}

.nome-usuario {
    float: left;
}

.nome-usuario h2 {
    margin-top: 8px;
    font-weight: normal;
    font-size: 23px;
    color: #a7a7a7;
    cursor: pointer;
}

.content1 {
    overflow-y: auto;
    float: left;
    width: 80%;
    height: calc(100% - 90px);
    padding: 30px;
}

.panel {
    margin-bottom: 10px;
    padding: 30px;
    width: 100%;
    float: left;
    border: 2px solid #ebebeb;
    background: white;
}

.panel h2 {
    color: #7f7f7f;
    font-size: 24px;
    font-weight: normal;
}

.panel p,
.panel ul li {
    color: #b2b2b2;
    font-size: 17px;
    margin-top: 10px;
}

.last-activity {
    float: left;
    width: 20%;
    height: calc(100% - 90px);
    overflow-y: auto;
    background: #EAEBEB;
    padding: 20px 40px; 
}

.atividades-topo h2 {
    color: #7f7f7f;
    font-size: 23px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.atividade-registro {
    position: relative;
    padding: 15px 20px;
    border-left: 1px solid #bbb;
}

.activity-circle {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background: #E9EBEB;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
}

.atividade-registro h2 {
    color: #bbb;
    font-size: 15px;
    font-weight: normal;
}

.atividade-registro p {
    color: #b2b2b2;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .last-activity {
        display:none;
    }
    .content1 {
        width: 100%;
    }
    .panel {
        width: 100% !important;
    }
    .sidebar {
        display: none;
        position: relative;
        z-index: 999;
    }
    div.main-content {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}